.to-baikal__title {
  max-width: 560px;
  margin-bottom: 32px;
  position: relative;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  z-index: 5;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  /*76px or 106% */
}

@media (max-width: 700px) {
  .to-baikal__title {
    font-size: calc(32px + 50 * (100vw / 1280));
  }
}

@media (max-width: 320px) {
  .to-baikal__title {
    font-size: 32px;
    line-height: 109%;
    margin-bottom: 16px;
  }
}
