.place__title {
  text-align: start;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;

  grid-auto-columns: min-content;
  align-self: flex-end;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  /* 76px or 106% */
  max-width: 460px;
}

@media (max-width: 1023px) {
  .place__title {
    font-size: calc(32px + 40 * (100vw / 1280));
    line-height: 109%;
    max-width: 330px;
  }
}

@media (max-width: 768px) {
  .place__title {
    font-size: 42px;
  }
}

@media (max-width: 320px) {
  .place__title {
    font-size: 32px;

    max-width: 288px;
  }
}
