.place__text {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
}

.place__text:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .place__text {
    font-size: 16px;
    line-height: 162%;
    margin-bottom: 25px;
  }
}

@media (max-width: 320px) {
  .place__text {
    line-height: 163%;
  }
}
