.nav__item {
  margin-right: 18px;
  transition: 0.3s;
}

.nav__item:hover {
  opacity: 0.8;
}

.nav__item:last-child {
  margin-right: 0;
}

@media (max-width: 725px) {
  .nav__item {
    margin-bottom: 32px;
  }
  .nav__item:last-child {
    margin: 0;
  }
}
