.subtitle {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  /* or 120% */
  margin: 0 auto;
  text-align: center;

  color: #ffffff;
}
