.page {
  max-width: 1280px;
  margin: 0 auto;
  background: #2a2c2f;
  display: grid;
  grid-template-columns: repeat(1, minmax(320px, 1280px));
  grid-auto-rows: auto;
  justify-content: center;
}

/* HEADER */

.header {
  display: grid;
  width: calc(100% - 7.5%);
  margin: 0 auto;
  margin-top: 28px;
  grid-template-columns: 1fr 5% 5%;

  align-items: center;
}

.logo {
  max-width: 100%;
}

.logo_place_header {
  max-width: 100%;
}

.header__lang-link {
  max-width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */
  text-align: right;
  color: #ffffff;
  text-decoration: none;
}

.header__lang-link:active,
.header__lang-link:hover {
  text-decoration: underline;
}

.main {
}

/* LEAD */

.lead {
  max-width: 984px;
  margin: 0 auto;
  margin-top: 56px;
}

.title {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  /* or 104% */
  text-align: center;
  color: #ffffff;
}

.title_size_sm {
  font-size: 54px;
  line-height: 58px;
}

.title_size_md {
  font-size: 72px;
  line-height: 76px;
}

.title_size_lg {
  font-size: 96px;
  line-height: 100px;
}

.subtitle {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  /* or 120% */
  margin: 0 auto;
  text-align: center;

  color: #ffffff;
}

.subtitle_place_lead {
  max-width: 640px;
  font-size: 30px;
  line-height: 36px;
  margin: 32px auto 64px;
}

.subtitle_place_to-baikal {
  max-width: 360px;
  font-size: 18px;
  line-height: 22px;
}

.text {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  /* or 26px */

  color: #ffffff;
}

.lead__pic {
  max-width: 984px;
  padding-bottom: 62.5%;
  background: url(/images/lead-polka.jpg) no-repeat;
  background-size: cover;
}

.lead__caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height, or 140% */

  color: #ffffff;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

/* INTRO */

.intro__wrapper {
  max-width: 690px;
  margin: 92px 442px 92px 148px;
}

.intro__title {
}

.intro__text {
  margin: 40px auto 33px;
}

.intro__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */

  color: #ffffff;
}

.intro__span {
  font-weight: 400;
}

/* photo-grid */

.photo-grid {
  max-width: calc(100% - 7.5%);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 16px;
  justify-content: center;

  grid-auto-flow: dense;
}

.photo-grid__item {
  max-width: 100%;
  max-height: 100%;

  object-fit: cover;
}

/* places */

.places {
}

.place {
}

.place__img {
}

.place__website {
}

.place__url {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  /* or 20px */

  letter-spacing: 2px;

  color: #aaaaaa;
}

.place__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */

  text-decoration-line: underline;

  color: #ffffff;
}

.place__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  /* or 29px */

  color: #ffffff;
}

/* to-baikal */

.to-baikal {
}

.cover {
  background: url(/images/cover-trains.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay:hover {
  width: 100%;

  background: #2a2c2f;
  opacity: 0.3;
}

/* footer */

.footer {
}

.nav {
}

.nav-list {
}

.nav-list__item {
}

.copyright {
}

.nav-list__item-link {
}
