.page {
  max-width: 1280px;
  margin: 0 auto;
  background: #2a2c2f;
}

/* HEADER */

.header {

}

.logo {
}

.logo_place_header {

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */
  text-align: right;
  color: #ffffff;
  text-decoration: none;
}


}

/* LEAD */

.lead {
}

.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  /* or 104% */
  text-align: center;
  color: #ffffff;
  z-index: 5;
}

.title_size_sm {
  font-size: 54px;
  line-height: 58px;
}

.title_size_md {
  font-size: 72px;
  line-height: 76px;
}

.title_size_lg {
  font-size: 96px;
  line-height: 100px;
}

.subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  /* or 120% */

  text-align: center;

  color: #ffffff;
}

.subtitle_size_sm {
  font-size: 18px;
  line-height: 22px;
}

.subtitle_size_md {
  font-size: 30px;
  line-height: 36px;
}

.lead__img {
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

.lead__caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height, or 140% */

  letter-spacing: 1.5px;
  text-transform: uppercase;
}

/* INTRO */


.intro__list {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */

  color: #ffffff;
}

.text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  /* or 26px */

  color: #ffffff;
}

/* photo-grid */

.photo-grid {

}

.photo-grid__item {
}

/* places */

.places {
  margin-top: 92px;
}

.place {
  margin: 0 auto;
  margin-bottom: 80px;
  max-width: 984px;
  /* min-height: 660px; */
  display: grid;
  grid-template-rows: repeat(min-content, minmax(300px, 660px));
  /* grid-template-columns: calc(100% - 484px - 40px) calc(100% - 460px - 40px); */
  /* grid-template-columns: repeat(
    auto-fit,
    minmax(calc(100% - 484px - 40px) calc(100% - 460px - 40px))
  ); */
  grid-column-gap: 40px;
  grid-auto-flow: dense;
  grid-row-gap: 48px;
}

.place:last-child {
  margin-bottom: 0;
}

.place__title {
  text-align: start;
  grid-auto-columns: min-content;
  align-self: flex-end;

  max-width: 460px;
}

.place__img {
  max-width: 460px;
  grid-column-start: 1;
  grid-column-end: 2;
}

.place__website {
  align-self: flex-end;
}

.place__url {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  /* or 20px */

  letter-spacing: 2px;

  color: #aaaaaa;
}

.place__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */

  text-decoration-line: underline;

  color: #ffffff;
}

.place__link:hover {
  opacity: 0.8;
}

.place__paragraph {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  /* or 29px */

  grid-column-start: 2;
  grid-column-end: 3;

  z-index: 1;

  color: #ffffff;
}

.place__text {
  margin: 0;
  margin-bottom: 26px;
}

/* to-baikal */

.to-baikal {
  position: relative;
}

.wrapper__to-baikal {
  max-width: 1184px;
  margin: 0 auto;
  margin-top: 92px;
}

.to-baikal__link {
  text-decoration: none;
}

.cover {

}

/* footer */

.footer {
  width: calc(100% - 96px);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 92px;
  margin-bottom: 24px;
}

.nav {
  width: 50%;
}

.nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  display: flex;
}

.nav-list__item {
  margin-right: 18px;
}

.copyright {
  width: 50%;
  display: flex;
  margin: 0;
  justify-content: space-between;
  justify-content: end;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  text-align: right;

  color: #ffffff;
}

