.intro__title {
  text-align: start;
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
  /* identical to box height, or 107% ,58px*/
}

@media (max-width: 768px) {
  .intro__title {
    line-height: 109%;
  }
}

@media (max-width: 700px) {
  .intro__title {
    max-width: 90%;
    font-size: calc(32px + 22 * (100vw / 1280));
  }
}

@media (max-width: 320px) {
  .intro__title {
    max-width: 80%;
    font-size: 32px;
  }
}
